@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Poppins", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
/* font-family: "Orbitron", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&display=swap');
/* font-family: "Inter", sans-serif; */

@import "tailwindcss";

@utility container {
  max-width: 1420px;
  padding: 0 15px;
  margin: 0 auto;
}

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-orbiton: "Orbitron", sans-serif;
  --font-inter: "Inter", sans-serif;
  --violet: #6D247F;

  --animate-bg: bgFade 12s infinite;
  --animate-text: textSlide 12s infinite;
  --animate-image: imageSlide 12s infinite;


}

.slider-img {
  opacity: 0;
  transform: scale(0.9);
  animation: fadeSlide 9s infinite;
}

.slider-img:nth-child(1) {
  animation-delay: 0s;
}
.slider-img:nth-child(2) {
  animation-delay: 3s;
}
.slider-img:nth-child(3) {
  animation-delay: 6s;
}

@keyframes fadeSlide {
  0% { opacity: 0; transform: scale(0.9); }
  10% { opacity: 1; transform: scale(1); }
  30% { opacity: 1; transform: scale(1); }
  40% { opacity: 0; transform: scale(1.1); }
  100% { opacity: 0; }
}