@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Poppins", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
/* font-family: "Orbitron", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&display=swap');
 /* font-family: "Inter", sans-serif; */
@utility container {
    max-width: 1420px;
    padding:0 15px;
    margin:0 auto;
}

@theme {
    --font-poppins: "Poppins", sans-serif;
    --font-orbiton: "Orbitron", sans-serif;
    --font-inter:"Inter", sans-serif;
    --violet: #6D247F;
   
     --animate-bg: bgFade 12s infinite;
    --animate-text: textSlide 12s infinite;
    --animate-image: imageSlide 12s infinite;
    

}
@keyframes bgFade {
  0% { opacity: 0; }
  10% { opacity: 1; }
  70% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes textSlide {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  15% {
    opacity: 1;
    transform: translateY(0);
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes imageSlide {
  0% {
    opacity: 0;
    transform: translateY(60px) scale(0.9);
  }
  20% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-30px) scale(1.05);
  }
}